<!DOCTYPE html>
<html ng-app="flickrApp">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/compass/stylesheets/style.css">
    <script src="/static/js/lib/angular.js"></script>
    <script src="/static/js/lib/angular-ui-router.js"></script>
    <!-- config and services -->
    <script type="text/javascript" src="/static/js/controllers/config.js"></script>
    <script type="text/javascript" src="/static/js/services/photoService.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="/static/js/controllers/searchFormCtrl.js"></script>
    <script type="text/javascript" src="/static/js/controllers/viewPhotoCtrl.js"></script>
  </head>

  <body>
    <div ui-view></div>
  </body>

</html>
